body {
  font-family: Arial;
  text-align: center;
  margin: 0;
  background: #F4F6FA;
}

.title {
  margin-top: 15px;
  font-size: 30px;
}

.cart-link {
  display: block;
  margin-bottom: 25px;
  font-size: 22px;
  color: blue;
}

.container {
  width: 90%;
  margin: auto;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 0 12px rgba(0,0,0,0.12);
}

.product-img {
  width: 90%;
  height: 230px;
  border-radius: 10px;
  object-fit: cover;
}

.price {
  font-size: 21px;
  margin: 8px 0 16px;
}

.btn {
  background: #FF8A00;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin: 4px;
}

